.content_login {
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(left top, #360033, #0b8793); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left top, #360033, #0b8793); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left top, #360033, #0b8793); /* Firefox 3.6 - 15 */
    background: linear-gradient(to left top, #360033, #0b8793); /* 标准的语法 */
    position: relative;
}
.loginContent {
    padding: 20px;
    width: 500px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
